/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #003743;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

fa-icon {
    font-size: 3rem;
    color: white;
}

.ngx-toastr {
    box-shadow: none !important;
}

.toast-container {
    box-shadow: none !important;
}